# Ignora tutto
*

# Eccezioni
!.gitignore
!KeyPoint_Detection/
!KeyPoint_Detection/**
!UNet/
!UNet/**

# Eccezioni delle eccezioni ;)
KeyPoint_Detection/YOLO_dataset/
UNet/UNet_dataset/
UNet/Models/Model_20000_5000_160_180/output_inference

**/*.pth